# Dependencies 
/package-lock.json
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Certificate key
*.pem

# NextJS
/.next/

# Production
/build

# Misc
.DS_Store


# Debugging files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.env

# Vercel
.vercel

# Typescript
*.tsbuildinfo
next-env.d.ts
